body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.form-group {
    margin-bottom: 15px;
}

.younium-details h2, 
.product-selection h3 {
    margin: 10px 0;
}

/* Divider style */
hr {
    border: none;
    height: 1px;
    background-color: #ccc; /* Light gray divider */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Add margin to separate the ID info section */
.id-info {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd; /* Optional: Another subtle divider */
}

#save {
    margin-top: 10px;
    align-self: flex-start;
}
