body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5%;
    color: #0C0656;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4; /* Light background color for better contrast */
}

.container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: white; /* White background for the container */
    max-width: 800px; /* Limit the width of the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visual separation */
    border-radius: 8px; /* Rounded corners for the container */
    overflow-y: auto;
}

.header-title h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: left;
    color: #0C0656; /* The hash symbol is required for color codes */
}

.status-text.draft {
    font-weight: bold;
    color: red;
}

.greyed-out {
    background-color: #ccc; /* Grey background */
    cursor: not-allowed;
    pointer-events: none; /* Make them unclickable */
}

  .loading-spinner {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.description {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 28px;
    color: #555;
}

.form-group {
    margin-bottom: 20px;
    color: #0C0656;
}

.form-group strong {
    font-weight: bold;
}

.product-selection h3 {
    margin: 10px 0; /* Adjust vertical margin */
    padding-top: 20px; /* Add space between the border and the heading */
    border-top: 1px solid #ddd;
    color: #444; /* A little darker heading color */
}

.id-info {
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
    color: #666666c9;
    margin-top: 10px;
    padding-top: 10px; /* Extra padding to create separation from content */
}

.loading {
    font-size: 1.2em;
    color: #777;
    text-align: center;
    margin: 30px 0;
}

/* Activate Button */
.activate-button {
    background-color: #1f8493 !important;
    color: white !important; /* Ensure text color is always visible */
    border: none !important;
    padding: 0.5rem 1.6rem !important;
    border-radius: 5rem !important; /* Rounded corners */
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    transition: background-color 0.3s ease;
    width: 130px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    text-align: center !important; /* Ensure the text is centered */
    white-space: nowrap; /* Prevents the text from breaking into multiple lines */
    font-size: 1em; /* Ensure text size is readable */
    cursor: pointer; /* Show pointer on hover */
}

.activate-button:hover {
    background-color: #1c7482 !important; /* Slightly darker hover effect */
}

/* Inactivate Button */
.inactivate-button {
    background-color: #f43325;
    color: white;
    padding: 0.5rem 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 5rem; /* Make the inactivate button match activate */
    transition: background-color 0.3s ease;
    width: 130px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    font-size: 1em; /* Ensure text size is readable */
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactivate-button:hover {
    background-color: #c23628; /* Slightly darker red on hover */
}

.activate-button.greyed-out,
.inactivate-button.greyed-out {
  background-color: #ccc !important;
  color: #777 !important;
  cursor: not-allowed !important;
  opacity: 0.6;
  pointer-events: none;
}

.draft {
  font-weight: bold;
  color: red;
}

/* Styling for product list */
.product {
    margin-bottom: 15px;
}

.product h4 {
    margin-bottom: 8px;
    font-size: 1.1em;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin: 5px 0;
    font-size: 1em;
}

/* Additional styling for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.button-container {
    text-align: center;
}

.spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    margin-left: 5px;
    margin-right: 4px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.disabled-button {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
  
.processing-button {
    background-color: grey;
    cursor: wait;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Styling for the products table */
#products-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5%;
    color: #0C0656;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Header styles */
#products-table th {
    background-color: #FFFFFF;
    color: #0C06567A;
    padding: 9px 11px;
    text-align: left;
    border-bottom: 1px solid rgba(12, 6, 86, 0.24) !important;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.015em;
    border-right: 1px solid rgba(12, 6, 86, 0.24);
}

#products-table th:last-child,
#products-table td:last-child {
    border-right: none;
    border-bottom: 1px solid rgba(12, 6, 86, 0.24);
}

/* Row styles */
#products-table td {
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid rgba(12, 6, 86, 0.24);
    border-right: 1px solid rgba(12, 6, 86, 0.24);
}

#products-table th:first-child,
#products-table td:first-child {
    border-left: none;
}

#products-table tbody tr:hover {
    transition: background-color 0.3s ease-in-out;
}

/* Style for the "More Info" button */
#more-info-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

#more-info-btn:hover {
    background-color: #0056b3;
}

/* Style for the "More Info" section */
#more-info {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-top: 10px;
    border-radius: 8px;
    display: none; /* Initially hidden */
    transition: all 0.3s ease;
}

/* Add a fade-in effect when displaying the section */
#more-info.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

